.card-box {
  background-color: #fff;
  padding: 1rem 1.6rem 1.9rem 1.6rem;
  -webkit-box-shadow: 0 0 35px 0 rgba(73,80,87,.15);
  box-shadow: 0 0 35px 0 rgba(73,80,87,.15);
  margin-bottom: 24px;
  border-radius: 0.5rem;
  margin-right: 3rem;
  flex-grow: 1;
}

.ttu {
  text-transform: uppercase;
}
.tl {
  text-align: left;
}
.black-40 {
  color: rgba(0,0,0,.4);
}

.card-box > .icon {
  float: right;
}
.card-box h6 {
  font-size: 1.5rem;
  font-weight: 500;
}

.badge {
  display: inline-block;
  padding: 0.55em .7em;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  cursor: default;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.card-box .badge:hover {
  background-color: #356635;
}

.stats-text-figure {
  padding-bottom: 10px;
  margin-top: 0;
}

.card-box-container {
  display: flex;
  flex-direction: row;
}

.marmara-stats-header {
  padding: 10px 0 30px 0;
}

.container {
  min-width: 1040px;
}

.navbar-form .form-control {
  max-width: 250px !important;
}

@media (max-width: 1000px) {
  .nav.navbar-nav.navbar-right {
    float: none !important;
  }
}